body {
	background-color: #AFD3FC;
	max-width: 500px;
	margin: auto;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial;
}

a {
	color: #ff8c00;
}

li, p, h1, h2 {
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}